@model SmashNetwork.Areas.Users.Models.User

@{
    ViewBag.ToolbarTitle = "Smash Network";

    // These two are temporary -> Until login is fully configured
    ViewBag.IsLoggedIn = false;
    ViewBag.Username = "takaji";
}

@section AdditionalImports {
    <link rel="import" href="~/Scripts/Polymer/Custom/smash-network-post-form.html">
    <link rel="import" href="~/Scripts/Polymer/Native/paper-input/paper-input.html">
    <link rel="import" href="~/Scripts/Polymer/Native/paper-card/paper-card.html">
}

@section AdditionalStyles {
    .container {
        text-align: center;
    }
}

<div class="container">
    <smash-network-post-form heading="Login" link="/Home/Login">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "Unsuccessful.")
        @ViewBag.Message
        <paper-input id="Username" name="Username" label="Username" required></paper-input>
        <paper-input id="Hash" name="Hash" label="Password" required></paper-input>
    </smash-network-post-form>
</div>
