@{
    ViewBag.Title = "Home Page";
}

@section AdditionalImports {
    <link rel="import" href="~/Scripts/Polymer/Custom/smash-network-navigator-button.html">
}

@section AdditionalStyles {
    .item {
        padding-bottom: 20px;
    }
}

<div class="item">
    <!--<smash-network-card></smash-network-card>-->
    <paper-card heading="Articles">
        <div class="card-content">
            I am the feed content...
        </div>
    </paper-card>
</div>

