@{
    ViewBag.Title = "Home Page";
}

@section AdditionalImports {
    <link rel="import" href="~/Scripts/Polymer/Custom/smash-network-navigator-button.html">
}

@section AdditionalStyles {

}

<div class="item">
    <paper-card heading="Regions">
        <div class="card-content">
            I am the feed content...
        </div>
    </paper-card>
</div>
