@{
    ViewBag.Title = "Home Page";
}

@section AdditionalImports {
    <link rel="import" href="~/Scripts/Polymer/Custom/smash-network-navigator-button.html">
    <link rel="import" href="~/Scripts/Polymer/Native/paper-styles/paper-styles.html">
}

@section AdditionalStyles {
    .item {
        padding-bottom: 20px;
    }

    paper-card {
        --paper-card-content: {
            color: #333;
        }
        padding: 20px;
        width: 80%;
        overflow: auto;
    }

    paper-card.master {
        --paper-card-header-text: {
            font-size: 150%;
        }
        --paper-card-content: {
            color: #333;
        }
        background: #DAB0B0;
        width: 80%;
        overflow: auto;
        padding: 0px;
    }
}

<div class="item">
    <paper-card class="master" heading="Feed"></paper-card>
</div>
<div class="item">
    <paper-card>
        I am the feed content
    </paper-card>
</div>
